################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Vulkan_Tutorials/v15
/VKVertexBuffers/obj/Debug
/VKVertexBuffers/bin/Debug
VKDrawTriangle/bin/Debug/Shaders/frag.spv
VKDrawTriangle/bin/Debug/Shaders/vert.spv
VKDrawTriangle/bin/Debug/VKDrawTriangle.exe
VKDrawTriangle/bin/Debug/VKDrawTriangle.exe.config
VKDrawTriangle/bin/Debug/VKDrawTriangle.pdb
VKDrawTriangle/bin/Debug/Vulkan.dll
VKDrawTriangle/bin/Debug/Vulkan.dll.config
VKDrawTriangle/bin/Debug/Vulkan.Windows.dll
VKDrawTriangle/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
VKDrawTriangle/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
VKDrawTriangle/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
VKDrawTriangle/obj/Debug/VKDrawTriangle.csproj.CopyComplete
VKDrawTriangle/obj/Debug/VKDrawTriangle.csproj.CoreCompileInputs.cache
VKDrawTriangle/obj/Debug/VKDrawTriangle.csproj.FileListAbsolute.txt
VKDrawTriangle/obj/Debug/VKDrawTriangle.csprojResolveAssemblyReference.cache
VKDrawTriangle/obj/Debug/VKDrawTriangle.exe
VKDrawTriangle/obj/Debug/VKDrawTriangle.pdb
packages/VulkanSharp.0.1.9/lib/MonoAndroid10/Vulkan.Android.dll
packages/VulkanSharp.0.1.9/lib/MonoAndroid10/Vulkan.dll
packages/VulkanSharp.0.1.9/lib/MonoAndroid10/Vulkan.dll.config
packages/VulkanSharp.0.1.9/lib/MonoAndroid10/Vulkan.dll.mdb
packages/VulkanSharp.0.1.9/lib/net452/Vulkan.dll
packages/VulkanSharp.0.1.9/lib/net452/Vulkan.dll.config
packages/VulkanSharp.0.1.9/lib/net452/Vulkan.dll.mdb
packages/VulkanSharp.0.1.9/lib/net452/Vulkan.Windows.dll
packages/VulkanSharp.0.1.9/lib/portable-net45+win8+MonoAndroid10/Vulkan.dll
packages/VulkanSharp.0.1.9/lib/portable-net45+win8+MonoAndroid10/Vulkan.dll.config
packages/VulkanSharp.0.1.9/lib/portable-net45+win8+MonoAndroid10/Vulkan.dll.mdb
packages/VulkanSharp.0.1.9/lib/win8/Vulkan.dll
packages/VulkanSharp.0.1.9/lib/win8/Vulkan.dll.config
packages/VulkanSharp.0.1.9/lib/win8/Vulkan.dll.mdb
packages/VulkanSharp.0.1.9/lib/win8/Vulkan.Windows.dll
packages/VulkanSharp.0.1.9/VulkanSharp.0.1.9.nupkg
/VKDrawTriangle/obj/Debug
/VKUniformBuffers/bin/Debug
/VKUniformBuffers/obj/Debug
